.navbar {
    font-weight: bold;
    font-size: 1.5rem;
    color: #007bff;
}
.navbar-brand{
    font-size: 2rem;
    color: #007bff;
}

.container-fluid{
    background-color: #eff6be;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}

.navbar-nav .nav-link:hover {
    color: #0056b3;
    text-decoration: underline;
}


.navbar-brand{
    margin-left: 30%;
}